.p-relative{
  position: relative;
}

.Oswald{
  font-family: 'Oswald', serif !important;
}

.Lato{
  font-family: 'Lato', serif !important;
}

.Shrikhand{
  font-family: "Shrikhand", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.Lobster{
  font-family: "Lobster", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.Oleo{
  font-family: 'Oleo Script', serif !important;
}

.relative.w-full.inline-flex {
  background-color: #ffffff !important; /* Color normal */
  border: 1px solid #ccc !important; /* Color normal */
  &:hover{
    border: 1px solid #e68a00 !important; /* Color hover */
    color: #e68a00 !important; /* Color hover */
  }
  &:focus-within{
    border: 1px solid #e68a00 !important; /* Color focus */
    color: #e68a00 !important; /* Color focus */
  }
}